<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "goodjob!.png" %>">
</section>
  <section class="about">
    <h1>About "Good job!"</h1>
    <p>
       朝、早起きしてちゃんとゴミを出せた。<br>
       お年寄りに席を譲った。<br>
       15分以上昼寝せずに集中できた。<br>
    </p>
    <p>
       どんな小さなことでも、当たり前のことでも、出来たあなたは素晴らしい。<br />
    </p>
    <p>
      今日はどんなあなたを褒める？
    </p>
  </section>
  <section class="function container-fluid">
    <div class="row">
    <h2>Function</h2>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "mypage.png" %>">
          </div>
          <p>マイページ機能</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "contact.png" %>">
          </div>
          <p>お問い合わせ機能</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "follow.png" %>">
          </div>
          <p>Coming soon...</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "post.png" %>">
          </div>
          <p>投稿機能</p>
        </div>
      </div>
    </div>
    <div id="page-top-btn" class="page-top-btn">
        <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
  </section>
